.recommended-friends{
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--border-line);
    border-bottom: var(--border-line);
    font-size: 15px;
    color: rgba(0,0,0,0.4);
}


.recommended-friends span{
    font-size: 18px;
    display: block;
    margin: 110px 0;
    text-align: center;
    color: rgba(0,0,0,0.4);
}

.openchat__header{
    display: flex;
    justify-content: space-between;
    color: rgba(0,0,0,0.4);
}

.openchat__header span{
    color: rgba(0,0,0,0.2);
}

.openpost{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.openpost__title{
    font-weight: 600;
    margin-bottom: 10px;
}

.openpost__hashtags{
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
}

.openpost__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.openpost__members img{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.openpost__member-count{
    opacity: 0.5;
    font-size: 14px;
}

.openpost__members .divider{
    height: 15px;
    width: 1px;
    margin: 0 5px;
    background-color: rgba(0,0,0,0.2);
}

.openpost__member-status{
    color: #800080;
}

.openpost__column:nth-child(2){
    position:relative;
    margin-top: 10px;
}

.openpost__photo{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.openpost__like{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.openpost__like span{
    margin-left: 3px;
}