.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top:1px solid rgba(0,0,0,0.2);
    box-sizing: border-box
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: #2e363e;
    position: relative;
}

.nav__link i{
    color: var(--melon);
}

.nav__notification{
    position: absolute;
    left: 15px;
    bottom: 10px;
}