@import "reset.css";
@import "variables.css";
@import "status-bar.css";
@import "nav-bar.css";
@import "login.css";
@import "screen-header.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";

body{
    color: #2e363e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1000vh;
}

.main-screen{
    padding:0 var(--horizontal-space);
}